<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre el uso de la transformación de web.config, visite http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FletesConnectionString"
    connectionString="Data Source=10.100.40.29;Initial Catalog=FLETE_UAT;Password=db2014#1;Persist Security Info=True;User ID=UserAdminSql;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Test" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>