<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="FletesConnectionString" connectionString="Data Source=10.100.120.150,1436;Initial Catalog=EC_FLETES;Password=P@$$w0rd;Persist Security Info=True;User ID=usr_srv_websft;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="FinancieroLogConnectionString" connectionString="Data Source=10.100.120.150,1436;Initial Catalog=EC_FINANCIERO_LOG;Password=P@$$w0rd;Persist Security Info=True;User ID=usr_srv_websft;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Enlist=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="log4netFlagDefault" value="1" />
    <add key="NodoCluster" value="1" />
    <add key="BusinessUnity" value="EC" />
    <add key="NombreComponente" value="srvSFTFreight" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="SecurityBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Yanbal.SFT.FreightManager.Implementation.Service.FreightManagerServicesPortType">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecurityBinding" contract="IFreightManagerServicesPortType" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="iisstart.htm" />
        <add value="FreightManagerService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>