<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic" />
                <binding name="UserWebServiceSoap" />
                <binding name="basic1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISRAService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://yanbal.pyfservices.com/TokenSecurity/TokenSecurity.svc" binding="basicHttpBinding" bindingConfiguration="basic" contract="TokenSecurityService.ITokenSecurityService" name="basic" />
            <endpoint address="http://uat-yanbal.jenkon.com/services/Services/Core/UserService.asmx" binding="basicHttpBinding" bindingConfiguration="UserWebServiceSoap" contract="UserServiceJ6.UserWebServiceSoap" name="UserWebServiceSoap" />
            <endpoint address="https://localhost/srvMSFTokenSecurity/TokenSecurity.svc" binding="basicHttpBinding" bindingConfiguration="basic1" contract="TokenSecurityService.ITokenSecurityService" name="basic1" />
            <endpoint address="https://localhost/srvMSFSecurity/SecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISRAService" contract="SRAService.ISRAService" name="BasicHttpBinding_ISRAService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
