@using Yanbal.SFT.Presentation.Web.Source.Resources.Shared;
@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>@ErrorResource.LabelTitleUnauthorizedPage</strong>
    </div>
    <div class="panel-body">
        <div>
            <span class="fa fa-info-circle"></span>
            <span id="informacion">@ErrorResource.LabelMessageUnauthorizedPage</span>
        </div>
    </div>
</div>