<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="FletesConnectionString"
    connectionString="Data Source=10.100.40.29;Initial Catalog=FLETE_SIT;Password=db2014#1;Persist Security Info=True;User ID=UserAdminSql;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="FleteAuditoriaConnectionString"
    connectionString="Data Source=10.100.40.29;Initial Catalog=FLETE_AUDITORIA_SIT;Password=db2014#1;Persist Security Info=True;User ID=UserAdminSql;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="CookieNameJ6" value="ckJ6UserCredentialSFTSIT"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SrvReportingUrl" value="http://10.100.40.24/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SrvReportingUser" value="Administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SrvReportingPassword" value="\\Passw0rd\\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SrvReportingDomain" value="UNQSWF" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SrvReportingWorkspace" value="/PFI/Reportes/SIT/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://yanbal.pyfservicessit.com/Security/SecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISRAService" contract="SRAService.ISRAService" name="BasicHttpBinding_ISRAService" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <endpoint address="http://yanbal.pyfservicessit.com/TokenSecurity/TokenSecurity.svc"  binding="basicHttpBinding" bindingConfiguration="basic" contract="TokenSecurityService.ITokenSecurityService"  name="basic" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>